[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
structlog = "*"
google-api-python-client = "*"
justbackoff = "*"
oauth2client = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.pyicloud]
git = "https://github.com/picklepete/pyicloud"
editable = true
